body {
    margin: 0;
    background-image: url('background_landscape.jpg');
    background-size: cover;
    background-position: top;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: #fff;
}
#container {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
    align-items: center;
}
.display-3 {
    color: rgba(255,255,255,.8);
}
.progress {
    height: 2rem;
    background-color: rgba(255,255,255,.2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 4rem 0;
    width: 50%;
    border-radius: 30px;
}
.progress-bar {
    background-color: rgba(255,255,255,.7);
    color: rgba(0,0,0,.6);
    font-size: .8rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.social-links a {
    text-align: center;
	float: left;
	width: 2.2rem;
	height: 2.2rem;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 100%;
	margin-right: 2rem; 
} 
.social-links a i {
	font-size: 1.2rem;
    line-height: 2.2rem;
	color: rgba(255,255,255,.5);
}
.social-links a, .social-links a i {
    transition: all 2s ease;
}
.social-links a:hover {
    border: 1px solid #fff;
}
.social-links a:hover i {
    color: #fff;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
@media only screen and (max-width: 600px) {
    body {
        background-image: url('background_portrait.jpg');
    }
    #container {
        justify-content: space-evenly;
    }
    .progress {
        width: 90%;
        margin: 0;
    }
    .social-links a i {
        color: rgba(255,255,255,.7);
    }
    footer small {
        font-size: .8rem;
    }
  }